/* Reset general */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* Establecer el tamaño de fuente base para evitar problemas de escalado en los navegadores */
html {
  font-size: 16px;
}

/* Estilos de elementos específicos */
body {
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Opcional: agregar estilos adicionales según tus necesidades */
